/* header.css */
@font-face {
    font-family: "contain";
    src: url("/public/fonts/Caveat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "congo";
    src: url("/public/fonts/PFHandbookPro-Regular.ttf") format('truetype');
}


.nav-link {
    color: black;
    margin: 0 10px;
    font-size: 2rem !important;
    font-family: "contain";
  }
  
  .nav-link:hover {
    color: #333;
  }
  
  .brand-link {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .custom-toggler {
    border-color: white; /* Change the border color of the toggle button */
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  